{% extends "layouts/base.html" %}


{% block title %} Create Book {% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
        <label for="name">Name</label>
        <input type="text" name="name" value="{{book.name}}" class="form-control" id="name" placeholder="Enter book name">
    </div>

    <div class="mb-3">
        <label for="pages">Number of Pages</label>
        <input type="number" name="pages" value="{{book.no_pages}}" class="form-control" id="pages" placeholder="Enter number of pages">
    </div>

    <div class="mb-3">
        <label for="price">Price</label>
        <input type="number" name="price" value="{{book.price}}" class="form-control" id="price" placeholder="Enter price">
    </div>

    <div class="mb-3">
        <label for="cover">book Cover</label>
        <input type="file" name="cover" class="form-control" id="cover">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>



</form>

{% endblock %}
