{% extends "layouts/base.html" %}

{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Book List</h1>

    <a href="{% url 'createbook' %}" class="btn btn-secondary my-4">Add Book</a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Author</th>
                <th>Pages</th>
                <th>Price</th>
                <th>Cover</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for book in booklist %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.name }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.no_pages }}</td>
                <td>{{ book.price }}</td>
                <td><img src="{{book.image_url}}" width="50" height="50" alt="Book Cover"></td>
                <td>
                    <a href="{{book.show_url}}" class="btn btn-info">Show</a>
                    <a href="{{book.edit_url}}" class="btn btn-warning">Edit</a>
                    <a href="{% url 'bookdelete' book.id %}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
